
.companyName{
	text-align: center;
	font-family: 'Shrikhand', cursive;
}
/* NAVIGATION reiks keisti veliau spalvas ir t.t*/
.navbar {
	background-color: #dddfd4;
	color: black;
}

#logo img {
	width: 50px;
	height: 50px;
	display: inline-block;
}

/*CART, REGISTRATION, SIGN UP*/

.cart {
    margin-top: 0;
}
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
    ul.dropdown-cart li .item-left span.item-info{
        float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
li ul.dropdown-cart {
    list-style: none;
}

.total-amount {
    margin-left: 10px;
}
/*SLIDER*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 80%;
}

.carousel-control, .item {
    border-radius: 4px;
}
/*PRODUCTS MAIN*/
.products {
	margin-bottom: 60px;
}
.products .card ul li {
	list-style: none;
}

/*SHOW SITE*/



/*FOOTER*/
.footer {
	background-color: #dddfd4;
	margin-top: 30px;
	padding: 20px 0px;
	text-align: center;
}

.footer ul li {
	display: inline;
	padding: 30px;
}
.footer ul li a {
	color: #000000;
	font-size: 1.5em;
	font-family: 'Amaranth', sans-serif;
}	
/*Footer Bottom*/
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

/*Contact*/
iframe {
	width: 100%;
}
.contact-form {
	margin-top: 20px;
}
.textarea {
	margin-top: 0px; 
	margin-bottom: 0px; 
	height: 120px;
	width: 100%;
}
div.page-title {
	margin-left: 150px;
}

/*Login*/
form.loginform {
	margin: 0 auto;
	width: 40%;
	margin-top: 80px;
	margin-bottom: 60px;
}


/*Registration form*/

.registrationform {
	width: 40%;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 60px;
}
.registrationform .btn {
	margin-top: 20px;
}


/*USERS*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 90px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*CART VIEW PAGE STEPS*/



.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*Confirm form 1 step*/
.btn-block {
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Checkout form 2 step*/

