/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/********************GLOBAL**********************/
/*FOOTER*/
footer {
    margin: 0 auto;
    background-color: #e1f6ce;
    width: 100%;
    padding: 30px;

}

/*USER TABLE*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 100px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*****************DAY MENIU*************/
body {
  font-family: 'Sofia', cursive;
  overflow-x: hidden;
  background: #F5F6CE;
}

img {
  max-width: 100%; 
}
h1 {
    font-family: 'Dancing Script', cursive;
}
.navbar-default {
    margin-bottom: 0;
    padding: 15px;
    font-size: 16px;
    background-color: #e1f6ce;
}
.logo {
    width: 80px;
    margin: 0;
}
.dropdown {
    margin-top: 12px;
    font-size: 16px;
 }   

.dropdown a {
    text-decoration: none;
}
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}

@media screen and (max-width: 996px) {
.preview {
    margin-bottom: 20px; } 
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.tab-content {
    overflow: hidden; 
}
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; 
}

.card {
    margin-top: 50px;
    margin-bottom: 30px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; 
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; 
    } 
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}

.product-title, .price {
    text-transform: UPPERCASE;
    font-weight: bold; 
}

.price span {
    color: #ff9f1a; 
}

.product-title .product-description, .price {
    margin-bottom: 15px; 
}

.product-title {
    margin-top: 0; 
}

.add-to-cart {
    background: #ff9f1a;
    padding: 1em 1.3em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease; 
}
.add-to-cart:hover {
    background: #b36800;
    color: #fff; 
}

.not-available {
    text-align: center;
    line-height: 2em; 
}
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; 
}

.tooltip-inner {
    padding: 1.3em; 
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); 
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } 
    }

/*login*/
.dropdown-login {
    margin: 0;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}
.border {
    border: 1px solid #dddddd;
}
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

}

.thumbnail:before, .thumbnail:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.thumbnail:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.btn-edit {
    margin-bottom: 10px;
    margin-left: 10px;
}
.btn-saveDelete {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*CART*/
.cart {
    margin-top: 0;
}
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
    ul.dropdown-cart li .item-left span.item-info{
        float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
li ul.dropdown-cart {
    list-style: none;
}

.total-amount {
    margin-left: 10px;
}
/*CART VIEW PAGE STEPS*/



.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*Confirm form 1 step*/
.btn-block {
    width: 30%;
    float: right;
}

/*Checkout form 2 step*/

.btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}
/*CONTACT*/


#map {
    margin-bottom: 30px;
}

/*Checkout page table*/

.table {
    background-color: #fff;
}
/*Congrats Page*/
.congrats {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 250px;
}

